<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="TestSystemDBEntities" connectionString="metadata=res://*/TestSystemModel.TestingModel.csdl|res://*/TestSystemModel.TestingModel.ssdl|res://*/TestSystemModel.TestingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3OA12O7;initial catalog=TestSystemDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>